<head>
    <link rel="stylesheet" href="css/main.css">
</head>
<div class="wrapper">
    <div class="container">
        <h1>Welcome
            <%= name %>
        </h1>

        <form action="/logout?_method=DELETE" method="POST">

            <button type="submit" id="login-button">Logout</button>
        </form>
        <form>
            <input type="button" value="Start" onclick="Redirect();">
        </form>
    </div>

    <script type="text/javascript">
        function Redirect() {
            window.location = "/game";
        }
    </script>

</div>